<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  {% block head %}
  <title>Page D'Inscription</title>
  <link href="{{asset('assets')}}/css/style7.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
{% endblock %}
</head>
<body>
<!-- partial:index.partial.html -->
<h2> Inscription </h2>
<script>

  function checkForm(form)
  {
    
    if(!form.terms.checked) {
      alert("Please indicate that you accept the Terms and Conditions");
      form.terms.focus();
      return false;
    }
    return true;
  }

</script>

<div class="container" id="container">

	 <div class="form-container sign-in-container">

	   {{ form_start(registrationForm) }}

				
				



				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.surname) }}
				{{ form_row(registrationForm.image) }}
		 {{ form_row(registrationForm.email) }}
		 {{ form_row(registrationForm.password) }}
				<button type="submit" style="color: black">S'inscrit!</button>
			
			{{ form_end(registrationForm) }}	 
				
				 
			
		
	</div> 


	<div class="overlay-container">
		<div class="overlay">

			<div class="overlay-panel overlay-right">
				<h1> Bonjour </h1>
				<p>  vous etes déja un utilisateur </p>
			<a href="{{path('app_login')}}" class="ghost" id="signUp" style='color:white; border:solid 1 px white; border-raduis:25%'> Login</a>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- partial -->


</body>
</html>




</body>
</html>