{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Liste de commentaire</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Accueil</a></li>
                            <li class="breadcrumb-item active">La liste des commentaire</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste Commentaire</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Suprimer">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table w-100">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Objet</th>
                            <th>Commentaire</th>
                            <th>Status</th>
                            <th>Utilisateur</th>
                            <th>Habitat</th>
                            <th>Avis</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.subject }}</td>
                                <td>{{ comment.comment }}</td>
                                <td>{{ comment.status }}</td>

                                <td><a href="{{ path('admin_user_show', {'id': comment.id}) }}">{% for user in users %} {% if user.id == comment.userid %} {{ user.name }} {{ user.surname }}   {% endif %} {% endfor %}</a>   </td>
                                {% for hotel in hotels %} {% if hotel.id == comment.hotelid %} 
                                <td><a href="{{ path('admin_hotel_show', {'id': hotel.id}) }}">
                                        {{ hotel.title }}
                                    </a>
                                </td>   {% endif %} {% endfor %}
                                <td>{{ comment.rate }}</td>
                                <td>
                                    <a class="btn btn-block btn-warning" href="{{ path('admin_comment_show', {'id': comment.id}) }}">Consulter</a>
                                
                                    <a class="btn btn-block btn-primary" href="{{ path('admin_comment_edit', {'id': comment.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10"> pas Resultats</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->

                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

